.container {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title {
  transition: color 0.3s ease;
  transition: text-shadow 0.3s ease;
  width: 100%;
  padding: 30px;
  background-color: #181d31;
  color: #f1f1f1;
  cursor: default;
}

.title:hover {
  color: #f1d3b3;
  text-shadow: 0 0.1rem 0.4rem #f3efe0;
}

.filtro {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #434242;
  color: #f1f1f1;
  height: 7vh;
  font-size: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.filtro p {
  margin: 0 10px 0 0;
}

.item {
  display: flex;
  min-width: max-content;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #434242;
}

.item section {
  transition: background-color 0.3s ease;
  display: flex;
  min-width: max-content;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.item select {
  cursor: pointer;
  border: none;
}

.item select {
  padding: 0.5rem 0.9rem;
  border: none;
  box-shadow: 5px 5px 5px 0.5px rgba(0, 0, 0, 0.4);
  background-color: #25b687;
  color: white;
  cursor: pointer;
}

.item select:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.item select:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.item input {
  transition: box-shadow 0.3s ease;
  font-size: 1.3rem;
  border: 1px solid #25b687;
  border-top: none;
  outline: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.item input:hover {
  box-shadow: 0 0.1rem 0.4rem #f3efe0;
  background-color: #f3efe0;
}

.item section:hover {
  background-color: #222222;
}

.main_container {
  margin: 0 5% 0 5%;
}

.container_cards {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  grid-gap: 5% 0.5%;
  justify-items: center;
  padding: 2rem 0 2rem 0;
}

.container_card {
  /* estilos de carta individual */
  transition: box-shadow 0.2s ease;
  background-color: #25b687;
  width: 95%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.container_card:hover {
  box-shadow: 0 0.1rem 0.4rem #222222;
}

.loadingContainer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  top: 50%;
  text-align: center;
}


.ldsfacebook {
  display: flex;
  position: absolute;
  width: 80px;
  align-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.ldsfacebook div {
  display: inline-block;
  position: absolute;
}

.ldsfacebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.ldsfacebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #25b687;
  animation: ldsfacebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.ldsfacebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.ldsfacebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.ldsfacebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes ldsfacebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.ldsfacebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.ldsfacebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.ldsfacebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes ldsfacebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}